#exampleModal{
  .modal-dialog{
    .modal-content{
      .modal-body{
        .link_m{
          width: 100%;
          height: 250px;
          object-fit: cover;
        }
      }
    }
  }
}
.form-group{
  background-color: #1111;
  padding-top: 30px;
  border-radius: 10px;
  .row{
    align-items: center;
    justify-content: center;
    .col-md-6{
      div{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        .btn-primary{
          width: 180px;
        }
      }
      ul{
        list-style-type: none;
        padding-left: 0;
        li{
          padding: 5px;
          background-color: red;
          color: #ffffff;
          border-radius: 5px;
        }
      }
    }
  }
  .media_btn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin: 40px auto 55px auto;
  }
  .select_media{
    display: none;
    visibility: hidden;
    transition: all 1s ease-in-out;
  }
  .select_video{
    display: none;
    visibility: hidden;
    transition: all 1s ease-in-out;
  }
  .media-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    .media-img{
      width: 200px;
      height: 120px;
      margin-right: 30px;
      .modal-btn{
        position: absolute;
        margin-left: 30px;
        z-index: 10;
        padding: 8px;
        transition: all 0.2s ease-in-out;
        background: none;
        border: none;
        .fa-times-circle, .fa-edit{
          color: #ffffff;
        }
        &:hover{
          transform: scale(1.2);
        }
      }
      .edit{
        margin-left: 0;
        .fa-edit{
          color: #ffffff;
        }
        &:hover{
          transform: scale(1.2);
        }
      }
      .fa-check-circle {
        position: absolute;
        margin-left: 60px;
        z-index: 10;
        padding: 12px;
        transition: all 0.2s ease-in-out;
        background: none;
        border: none;
        color: limegreen;
      }
      img{
        width: inherit;
        height: inherit;
        object-fit: cover;
        position: relative;
      }
    }
    .media-vid{
      width: 200px;
      height: 120px;
      margin-right: 30px;
      .modal-btn{
        position: absolute;
        z-index: 10;
        padding: 8px;
        transition: all 0.2s ease-in-out;
        background: none;
        border: none;
        .fa-times-circle{
          color: #ffffff;
        }
        &:hover{
          transform: scale(1.2);
        }
      }
      iframe{
        border: none;
        position: absolute;
      }
    }
  }
}