{% extends 'base.html.twig' %}

{% block title %}Bienvenu sur le site Snowtricks{% endblock %}

{% block header %}
    <div class="title-home">
        <div class="wrapper-title">
            <h1>{{ title }}</h1>
            <p>{{ sub }}</p>
        </div>
    </div>
    <div class="header-filter">
        <div class="filter"></div>
        <img src="upload/home_snow.jpeg" alt="img_header" class="header_img">
    </div>
    <div class="arrow-down">
        <a href="#tricks"><i class="fas fa-arrow-down"></i></a>
    </div>
{% endblock %}

{% block content %}
<section class="container">
    <article class="wrapper">
        <div class="row" id="tricks">
            <div class="tricks">
                <p>trick name</p>
            </div>
            <div class="tricks">
                <p>trick name</p>
            </div>
            <div class="tricks">
                <p>trick name</p>
            </div>
            <div class="tricks">
                <p>trick name</p>
            </div>
            <div class="tricks">
                <p>trick name</p>
            </div>
            <div class="tricks">
                <p>trick name</p>
            </div>
        </div>
    </article>
</section>
{% endblock %}
